swc/Makefile
node_modules
*.a
*.dll
*.exe
*.ilk
*.sdf
*.opensdf
*.la
*.lo
*.log
*.o
*.obj
*.os
*.pc
*.pdb
*.pyc
*.pyo
*.so
*.so.*
*.sw[a-z]
*.tar
*.tar.bz2
*.tar.gz
*.trs
*.zip
*~
depend
depend.bak
bin/ltmain.sh
lib
lib64
configure
configure.lineno
autom4te.cache
aclocal.m4
config.log
config.status
cscope*
.scon*
config.py
build
libtool
manifest.txt
.dir-locals.el
.deps/
.dirstamp
.libs/
Makefile
Makefile.in

ipch

*.pbxuser
*.perspectivev3
*.mode1v3
.svn
*.ncb
*.user
*.suo
*.dSYM
xcuserdata
*.xcworkspace
*.out
.DS_Store
cmake_install.cmake
Makefile
CMakeFiles/
CMakeCache.txt
.project
.cproject
glsl_main
glsl_test
glcpp
glslopt
glsl_compiler
swc/*.abc
swc/*.swc
bin-debug
bin-release
.settings/
.pydevproject

build
metalTemp.metal
build.*/
